<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chillax.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.chillax.bean.Car" >
    <id column="Car_car_id" property="carId" jdbcType="VARCHAR" />
    <result column="Car_car_name" property="carName" jdbcType="VARCHAR" />
    <result column="Car_car_type" property="carType" jdbcType="VARCHAR" />
    <result column="Car_car_place" property="carPlace" jdbcType="VARCHAR" />
    <result column="carNo" property="carNo" jdbcType="VARCHAR" />
    <result column="Car_buytime" property="buytime" jdbcType="DATE" />
    <result column="Car_u_id" property="userId" jdbcType="INTEGER" />
    <result column="Car_car_state" property="carState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Car.car_id as Car_car_id, Car.car_name as Car_car_name, Car.car_type as Car_car_type, Car.carNo as carNo,
    Car.car_place as Car_car_place, Car.buytime as Car_buytime, Car.u_id as Car_u_id,Car.car_state as Car_car_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from s_car Car
    where Car.car_id = #{carId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from s_car
    where car_id = #{carId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chillax.bean.Car" >
    insert into s_car (car_id, car_name, car_type, carNo
      car_place, buytime, u_id,car_state
      )
    values (#{carId,jdbcType=VARCHAR}, #{carName,jdbcType=VARCHAR}, #{carType,jdbcType=VARCHAR},#{carNo,jdbcType=VARCHAR}, 
      #{carPlace,jdbcType=VARCHAR}, #{buytime,jdbcType=DATE}, #{userId,jdbcType=INTEGER}, #{carState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chillax.bean.Car" >
    insert into s_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        car_id,
      </if>
      <if test="carName != null" >
        car_name,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="carNo != null" >
        carNo,
      </if>
      <if test="carPlace != null" >
        car_place,
      </if>
      <if test="buytime != null" >
        buytime,
      </if>
      <if test="userId != null" >
        u_id,
      </if>
       <if test="carState != null" >
        car_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="carName != null" >
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
       <if test="carNo != null" >
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carPlace != null" >
        #{carPlace,jdbcType=VARCHAR},
      </if>
      <if test="buytime != null" >
        #{buytime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="carState != null" >
        #{carState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chillax.bean.Car" >
    update s_car
    <set >
      <if test="carName != null" >
        car_name = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
       <if test="carNo != null" >
        carNo = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carPlace != null" >
        car_place = #{carPlace,jdbcType=VARCHAR},
      </if>
      <if test="buytime != null" >
        buytime = #{buytime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        u_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="carState!= null" >
        car_state = #{carState,jdbcType=INTEGER},
      </if>
    </set>
    where car_id = #{carId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chillax.bean.Car" >
    update s_car
    set car_name = #{carName,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      carNo = #{carNo,jdbcType=VARCHAR},
      car_place = #{carPlace,jdbcType=VARCHAR},
      buytime = #{buytime,jdbcType=DATE},
      u_id = #{userId,jdbcType=INTEGER},
      car_state = #{carState,jdbcType=INTEGER}
    where car_id = #{carId,jdbcType=VARCHAR}
  </update>
  <select id="selectAllByUser" resultMap="BaseResultMap" parameterType="Map"> 
  	  select 
    <include refid="Base_Column_List" />
    from s_car Car where u_id=#{userId}
    <if test="tag !=null">
    	and car_state=0
    </if>
    <if test="carName !=null and carName !=''">
    	and car_name like CONCAT('%' , #{carName} , '%')
    </if>
    order by car_state desc
  </select>
  
  <select id="selectCarTypeData" parameterType="map" resultType="map">
SELECT
	b.car_type name,count(1) value
FROM
	s_order a
LEFT JOIN s_car b ON a.c_id = b.car_id
WHERE
	a.o_state &lt;&gt; 0 and date_format(a.orderTime,'%Y年-%m月')=#{date}
	group by b.car_type order by  orderTime asc
  </select>
  
</mapper>